@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Instrument+Serif&family=Raleway:ital,wght@0,400;0,900;1,700&display=swap");
.ancho-navegable {
  max-width: 800px; }
  .ancho-navegable .navbar-collapse {
    flex-direction: row-reverse; }

.cocina {
  height: 100px; }
