/* PALETA DE COLORES 
color principal: #086788;
color secundario: #ff007f;
fondo primario: #7209b7;
fondo secundario: #fabc3c;
resaltar:#c45baa;
*/
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Raleway:ital,wght@0,400;0,900;1,700&family=Roboto:ital,wght@0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace; }

.barra {
  background-color: #db37db !important; }

.ancho-navegable {
  max-width: 800px;
  text-align: center; }
  .ancho-navegable .cocina {
    height: 100px;
    width: 150px; }
  .ancho-navegable .typo-titulo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white; }
  .ancho-navegable .navbar-collapse {
    flex-direction: row-reverse; }
    .ancho-navegable .navbar-collapse .nav-link:hover {
      text-decoration: underline; }

.bold {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.colapso {
  font-weight: bold;
  color: aqua; }

.main img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-size: cover; }

.footer {
  background-color: #bb328d;
  height: 20vh;
  text-align: center; }

.footer img {
  display: flex;
  flex-direction: column; }

.barra {
  background-color: #db37db !important; }

.h1 {
  background-color: rgba(129, 44, 155, 0.466);
  color: #0c90c4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 5px; }

.chica {
  max-width: 800px;
  max-height: 600px;
  background-image: none;
  margin: 150px; }

.footer {
  background-color: black;
  color: white; }

.barra {
  background-color: #db37db !important; }

.footer {
  background-color: #854e4e;
  height: 20vh;
  text-align: center; }

.footer img {
  display: flex;
  width: 150px;
  background-size: auto; }

.barra {
  background-color: #db37db !important; }

.image {
  background-color: #cc5b0f; }

.container-contact {
  margin: 150px;
  background-color: #0c90a1;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  width: 400px;
  height: 440px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 20px #6b1264;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  background-color: #00ffff;
  min-height: 40vh;
  text-align: center; }
  .footer .footer img {
    display: flex;
    width: 150px;
    background-size: auto; }

.barra {
  background-color: #bb328d !important; }

.fondo {
  background-color: #cb819a; }

.plato {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cuerpo {
  background-color: chocolate;
  color: aqua; }

chica {
  max-width: 800px;
  max-height: 600px;
  background-image: none;
  margin: 150px; }
  chica .footer {
    background-color: black;
    color: white; }

.carta {
  background-color: chocolate;
  color: aqua; }
