//NAVBAR//
.barra{
    background-color: rgb(49, 45, 49) !important ;
}
.ancho-navegable{
    max-width: 800px;
    .cocina{
        height: 100px;
        width: 150px;
    }
    .typo-titulo{
        font-family: $typo-titulo;
        font-weight: bold;
    }
    .navbar-collapse{
         flex-direction: row-reverse;
         .nav-link{
            &:hover{
                text-decoration: underline;
            }
         }
    }
    
}


.main img{
display: flex;
flex-wrap: wrap;
width: 900px;
background-size: cover;
}


.footer{
    background-color: rgb(133, 78, 78);
    height: 20vh;
    text-align: center;
}

.footer img{
    display: flex;
    width: 150px;
  
}