//NAVBAR//
.barra{
background-color: #db37db !important;
}
.ancho-navegable{
    max-width: 800px;
    text-align: center;
 }
    .cocina{
        height: 100px;
        width: 150px;
    }
    .typo-titulo{
        font-family: $typo-titulo;
        font-weight: bold;
        color: white;
        transition: 5s;
    transform: scale(1.5);
    }
    .navbar-collapse{
         flex-direction: row-reverse;
         .nav-link{
            &:hover{
                text-decoration: underline;
            }
         
    }
    
}


.ul-index{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: fantasy;
    font-weight: 900;
    justify-content: space-evenly;
    background-color: black ;
    color: blueviolet;
}


.bold{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.colapso{
    font-weight: bold;
    color: aqua;
}


.main img{
display: flex;
flex-wrap: wrap;
width: 100%;
background-size: cover;
}


.footer{
    background-color: rgb(187, 50, 141);
    height: 20vh;
    text-align: center;
}

.footer img{
    display: flex;
    flex-direction: column;
  
}


