//NAVBAR//
.ancho-navegable{
    max-width: 800px;
    .cocina{
        height: 100px;
        width: 150px;
    }
    .typo-titulo{
        font-family: $typo-titulo;
        font-weight: bold;
    }
    .navbar-collapse{
         flex-direction: row-reverse;
         .nav-link{
            &:hover{
                text-decoration: underline;
            }
         }
    }
    
}

