.barra{
    background-color: #db37db !important ;
 }    


//main-restaurant//

.h1{
background-color: rgba(129, 44, 155, 0.466);
color: rgb(12, 144, 196);
font-weight: bold;
text-align: center;
 }

.chica{
    max-width: 800px;
    max-height: 600px;
    background-image: none;
    margin: 150px;
}

.footer{
    background-color: black;
    color: white;
}