.barra{
    background-color: rgb(49, 45, 49) !important ;
 }    


//main-restaurant//

.h1{
background-color: rgb(11, 153, 146);
color: white;
font-weight: bold;
text-align: center;
 }

.chica{
    max-width: 800px;
    max-height: 600px;
    background-image: none;
    margin: 150px;
}

.footer{
    background-color: black;
    color: white;
}