.barra{
    background-color: #db37db !important ;
 }    



 .footer{
    background-color: rgb(133, 78, 78);
    height: 20vh;
    text-align: center;
}

.footer img{
    display: flex;
    width: 150px;
    background-size: auto;
  
}
