.barra{
    background-color: #db37db !important ;
 }    

.container-contact{
    position: relative;
    width: 400px;
    height: 440px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

