.barra{
    background-color: rgb(49, 45, 49) !important ;
 }    


//anidación//
.ubicacion{
    background-color: rgb(133, 78, 78);
    .video{
        width: 300px;
        height: 300px;

    }
}


.form{
  display: flex;
 
}


.btn.btn-primary{
    background-color: black;
    box-shadow: 5px 6px 7px rgb black inset;
    align-items: center;
    border-radius: 20px;
    transform: (1.05);
}


 
