.barra{
    background-color: rgb(49, 45, 49) !important ;
 }    



.ubicacion{
    background-color: rgb(133, 78, 78);
    align-items: center;
    .video{
        width: 300px;
        height: 300px;
    }
}



 
